<!-- <h1>Home Page</h1>

<br>
<div *ngIf="isUserAuthenticated()" style="color:blue;">
  <h2>
    YOU ARE LOGGED IN
  </h2>
</div>

<br>
<ul>
  <li><a routerLink="/customers">Customer</a></li>
  <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
  <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>
</ul> -->



<!-- Bootstarp Navbar that redirects to orders, products and customers page 
      use class bgImage -->
<div class="bgImage">
  <!-- header -->
  <nav class="navbar navbar-expand-lg navbar-light fs-5">
    <a class="navbar-brand fs-3" href="#" style="color: darkblue; margin-left: 20px; font-weight: 500;">Microservices</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/orders" style="color: darkblue; font-weight: 500;">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" style="color: darkblue; font-weight: 500;">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers" style="color: darkblue; font-weight: 500;">Customers</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Write welcome message in top middle of the page -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align: center; color: #1d33b3; margin-top: 100px;">Welcome to Microservices</h1>
      </div>
    </div>
  </div>
  <!-- Write information related to microservice -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 style="text-align: center; color: #796da1; margin-top: 100px;">Microservices are a software development
          technique—a variant of the service-oriented architecture (SOA) architectural style that structures an
          application as a collection of loosely coupled services. In a microservices architecture, services are
          fine-grained and the protocols are lightweight.</h4>
      </div>
    </div>
  </div>
</div>